*{
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: mintcream;
}
.container{
    margin: auto;
    max-width: 1200px;
    /* background: greenyellow; */
}
.menu{
    position: relative;
    z-index: 999999999999;
    /* position: fixed; */
    list-style: none;
  /* margin: 16px 0 0px; */
  padding: 25px 10px 16px;
  text-align: center;
  background: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.246);
}
ul{
    list-style: none;
    padding-left: 0;
}
.menu li{
    display: inline-block;
    margin-right: -4px;
}
.menu li:after{
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
}
.menu-main li:last-child:after {
    content: none;
}
.menu a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu a, .menu a:visited{
    color: #9d999d;
}
.menu a.current, .menu a:hover{
    color: #e1e1d0;
}
.menu a:before, .menu a:after{
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #e1e1d0;
    transition: 0.5s;
}
.menu a:hover:before, .menu .current:before {left: 0;}
.menu a:hover:after, .menu .current:after {right: 0;}   
h5{
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 41px;
    font-family: 'Ubuntu', sans-serif;
}
.pivo p{
    padding-top: 15%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.iframes{
    margin-left: 70px;
}
iframe{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 600px;
    height: 500px;
}
.element_row{
    float: left;
    width: 50%;
    /* background: #0060aa; */
    margin-top: 50px;
}                     
.module_element{
    width: 100%;
    max-width: 570px;
    overflow: hidden;
}
.module_img{
    margin-bottom: 5px;
    /* display: inline-block; */
    background-size: cover;
    height: 250px;
    background-image: url(20190920_121236.jpg);
    width: 100%;
}
.module_img2{
    background-size: cover;
    /* display: inline-block; */
    object-fit: cover;
    height: 250px;
    background-image: url(20190712_111804.jpg);
    width: 100%;
}
.video_name{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 170%;
    float: left;
    margin-left: 20px;
    width: 145px;
    margin-top: 20px;
    color: #ffffff;
}
.video_p{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    float: left;
    width: 385px;
    margin-left: 20px;
}
.ytVideo{
    margin-top: 20px;
    background: url("free-icon-youtube-324114.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    display: block;
    float: right;
    margin-right: 43px;
    z-index: 999999;
}
.maps{
    text-align: center;
}
.txt{
    box-sizing: border-box;
    color: mintcream;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    float: right;
    width: 40%;
    /* height: 550px; */
    padding: 50px;
    background: #0060aa;
}
.img1{
    box-sizing: border-box;
    padding-right: 5px;
    width: 60%;
    margin-top: 50px;
    float: left;
}
.img1Child{
    padding-bottom: 5px;
    object-fit: cover;
    /* margin-left: 1%; */
    /* margin-bottom: 5px; */
    display: block;
    width: 50%;
    float: left;    
}
.img1Child:first-child{
    box-sizing: border-box;
    padding-right: 5px;
}
.img2{
    margin-left: 250px;
}
.img2Child{
    width: 100%;
}
.txt2{
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    clear: both;
    color: mintcream;
    font-family: 'Ubuntu', sans-serif;
    /* margin-right: 250px;
    margin-left: 250px; */
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 40px;
    margin-top: 30px;
    background: #0060aa;
    padding-bottom: 40px;
}
.txt2 div{
    display: block;
    float: left;
    /* background-color: #fff; */
    width: calc(100% / 3);
}
.p2{
    font-size: 30px;
    display: inline-block;
}
h3{
    text-align: center;
    font-size: 30px;
}
.child1{
    display: inline-block;
    /* width: 230px; */
    /* margin-right: 20px; */
}
.child2{
    display: inline-block;
    /* width: 230px; */
}
.child3{
    display: inline-block;
    /* margin-left: 20px; */
}
.img-row{
    margin-top: 50px;
    background: salmon;
    width: 50%;
    float: right;
}
.row-1{
    object-fit: cover;
    float: left;
    display: block;
    height: 100%;
    width: 50%; 
}
.row-2{
    object-fit: cover;
    float: right;
    display: block;
    height: 100%;
    width: 50%;
}